{% comment %}GET all MPDs from the Bundle - the resource inside each entry{% endcomment %}
{% assign mpdr = entry | where: "resource.resourceType", "CodeSystem" | first %}
{% assign mpd = mpdr.resource %}
<br>
<style>
  table {
      width: 100%;
      border-collapse: collapse;
  }
  th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
  }
  th {
      background-color: #f2f2f2;
  }
</style>
  <div class="container rcorners mpd">
  {% comment %}print the name - current name[0], should be all names{% endcomment %}
  <h4>
    {{ mpd.title }}
  </h4>
  <p style="color: gray; font-size: 12px;"> {{mpd.description}}</p>
  <hr>
  <p><b>ID: </b>{{mpd.id}}</p>
  <p><b>Versão: </b> {{mpd.version}}</p>
  <p><b>Autor: </b>{{mpd.author[0].name}}</p>
  {% if {{mpd.property}} %}

  <p><b>Propriedades: </b>{{mpd.property}}</p>
{% endif %}

</div>
<hr>

  <table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Propriedades</th>

        </tr>
    </thead>
    <tbody>

  {% for element in mpd.concept %}
    <tr>
      <td>{{element.code}}</td>
      <td>{{element.display}}</td>
      <td>{{element.definition}}</td>
      {% if {{element.property}} %}
        <td>
        {% for prop in element.property %}
          {{prop.code}}||{{prop.valueDecimal}}<br>
        {% endfor %}
      {% endif %}

          </td>


  </tr>
  {% endfor %}
  </tbody>
  </table>
  

